// Our CSS resets
@import '../node_modules/modern-css-reset/dist/reset.min.css';
@import './reset.scss';

// Design tokens
@import 'design-tokens.scss';

// Utilities
@import './utilities/wrapper';
@import './utilities/flow';
@import './utilities/flex';

// Blocks
@import './blocks/features';
@import './blocks/button';

body {
  overflow-x: hidden;
  line-height: 1.5;
  padding: map-get($map: $font-sizes, $key: '700');
  font-size: map-get($map: $font-sizes, $key: '400');
  background: url(../images/bg-header-desktop.png) center top/100% no-repeat;
  padding-block-start: 10rem;
}

h1,
h2,
h3 {
  @extend .color-text-primary;
}

h1 {
  font-size: map-get($map: $font-sizes, $key: '700');
}

@media (max-width: 600px) {
  body {
    background-image: url(../images/bg-header-mobile.png);
    font-size: map-get($map: $font-sizes, $key: '300');
    padding: map-get($font-sizes, '600');
  }

  h1 {
    font-size: map-get($map: $font-sizes, $key: '600');
  }
}
