.flow-space {
  &-1 {
    --flow-space: 3rem;
  }

  &-2 {
    --flow-space: 5rem;
  }

  &-3 {
    --flow-space: 12rem;
  }

  @media (max-width: 600px) {
    &-1 {
      --flow-space: 2rem;
    }

    &-2 {
      --flow-space: 3rem;
    }

    &-3 {
      --flow-space: 12rem;
    }
  }
}

.flow {
  > * + * {
    margin-block-start: var(--flow-space, 1em);
  }
}

.flow-inline {
  > * + * {
    margin-inline-start: var(--flow-space, 1em);
  }

  @media (max-width: 600px) {
    > * + * {
      margin-inline-start: 0;
    }

    > * + * {
      margin-block-start: var(--flow-space, 1em);
    }
  }
}

.flow-recursive {
  > * + * {
    margin-block-start: 0;
  }

  * {
    margin-block-start: var(--flow-space, 1em);
  }
}
