.flow {
  > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  &-1 {
    --flow-space: 3rem;
  }

  &-2 {
    --flow-space: 5rem;
  }

  &-3 {
    --flow-space: 12rem;
  }

  @media (max-width: 600px) {
    &-1 {
      --flow-space: 2rem;
    }

    &-2 {
      --flow-space: 3rem;
    }

    &-3 {
      --flow-space: 12rem;
    }
  }
}
