.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;

  .feature-picture {
    $overhang-amount: 10vw;
    $total-amount: 45vw + $overhang-amount;

    min-width: $total-amount;
    margin-inline-start: -($overhang-amount);
    margin-block: auto;
  }

  li {
    max-width: 30ch;
  }
}

@media (max-width: 600px) {
  .features {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .feature-picture {
      min-width: 100%;
      margin-inline-start: 0;
    }
  }
}
