.tools {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: auto;
  justify-items: center;
  align-items: baseline;
  gap: 3rem;

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
